header {
  position: relative;
}

.account {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
}

.about {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}


@media (max-width: 768px) {
  .account {
    left: 10px;
  }
}

@media (max-width: 768px) {
  .about {
    left: 40px;
  }
}

i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  i {
    font-size: 1.25rem;
  }
}

i:hover {
  transform: scale(1.1);
}

.fa-user {
  color: rgb(50, 100, 255);
}

.fa-question-circle {
  color: crimson;
}

h1 {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  font-size: 5rem;
  font-weight: bold;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

hr {
  height: 2px;
  margin: 0 50px;
  border: none;
  background: rgb(230, 230, 230);
}

@media (max-width: 768px) {
  hr {
    margin: 0 0;
  }
}
