<section>
    <a routerLink="/" title="Paintle Home"><i class="fa-solid fa-arrow-left"></i> Back</a>
</section>
<section>
    <h2>About</h2>
    <p>Paintle is a daily color-matching puzzle inspired by Wordle. Each day, you're challenged to recreate a 5x5 grid of colors by painting rows and columns. How fast can you solve the puzzle and recreate the pattern? Test your skills and enjoy a new challenge every day!</p>
</section>
<section>
    <h2>How to play</h2>
    <ol>
        <li>You start with an empty 5x5 grid.</li>
        <li>A color pattern is displayed in a separate grid.</li>
        <li>Paint one row or column at a time to try and match the color pattern, overwriting any previous colors in the row or column.</li>
        <li>Keep experimenting with different combinations until your grid matches the color pattern completely.</li>
        <li>Once your grid matches the color pattern, you win!</li>
    </ol>
</section>
<section>
    <p>Created by <a href="https://kyle.reinholdtsen.com/" title="kyle.reinholdtsen.com" target="_blank">Kyle Reinholdtsen</a></p>
</section>
