:host {
  display: flex;
  width: 50vw;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
  :host {
    width: 75vw;
  }
}
  
@media (max-width: 768px) {
  :host {
    width: 100vw;
  }
}

app-header {
  width: 100%;
  margin-bottom: 16px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  min-height: 0
}
