:host {
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
}

.icon, .tile {
  padding: 3px;
  display: flex;
}

.icon {
  --rotation: 0deg;
  transition: transform 0.1s ease;
  transform: rotate(var(--rotation));
}

.icon:hover {
  transform: rotate(var(--rotation)) scale(1.1);
}

.rotate-90 {
  --rotation: 90deg;
}

.rotate-180 {
  --rotation: 180deg;
}

.tile {
  outline: 2px solid black;
  outline-offset: -4px;
  background-clip: content-box;
}
