.game-board {
    display: grid;
    width: 25vw;
    gap: 5px;
}

.icon {
    display: flex;
}

.icon.rotate-90 {
    transform: rotate(90deg)
}

.icon.rotate-180 {
    transform: rotate(180deg)
}

.icon:hover {
    transform: scale(1.1);
}

.icon.rotate-90:hover {
    transform: rotate(90deg) scale(1.1);
}

.icon.rotate-180:hover {
    transform: rotate(180deg) scale(1.1);
}

.tile {
    border: 2px solid black;
}
