.game-board {
    display: grid;
    width: 25vw;
    gap: 5px;
}

@media (max-width: 1200px) {
    .game-board {
        width: 65vw;
    }
}
  
@media (max-width: 768px) {
    .game-board {
        width: 90vw;
    }
}

.icon {
    display: flex;
}

.icon.rotate-90 {
    transform: rotate(90deg)
}

.icon.rotate-180 {
    transform: rotate(180deg)
}

.icon:hover {
    transform: scale(1.1);
}

.icon.rotate-90:hover {
    transform: rotate(90deg) scale(1.1);
}

.icon.rotate-180:hover {
    transform: rotate(180deg) scale(1.1);
}

.tile {
    aspect-ratio: 1;
    border: 2px solid black;
}
