.game-board {
    display: grid;
    width: 30vw;
    gap: 5px;
}

.tile {
    aspect-ratio: 1;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    -webkit-text-stroke: 1px black;
}
