.game-board {
    display: grid;
    width: 25%;
    aspect-ratio: 1;
    gap: 5px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    text-shadow: 
        1px 1px 0px black,   /* Red outline on top-right */
        -1px -1px 0px black, /* Red outline on bottom-left */
        1px -1px 0px black,  /* Red outline on top-left */
        -1px 1px 0px black;  /* Red outline on bottom-right */
}
