:host {
  justify-content: center;
  align-items: center;
}

.paint-pattern-display {
  display: grid;
  gap: 3px;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: #888;
}

.tile::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.tile {
  width: 100%;
  border: 1px solid black;
}
