.paint-pattern-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.paint-pattern {
    display: grid;
    width: 10vw;
    aspect-ratio: 1;
    gap: 4px;
}

.tile {
    border: 1px solid black;
}
