.paint-pattern-display {
  display: grid;
  width: 10vw;
  aspect-ratio: 1;
  gap: 4px;
}

@media (max-width: 1200px) {
  .paint-pattern-display {
    width: 25vw;
  }
}

@media (max-width: 768px) {
  .paint-pattern-display {
    width: 35vw;
  }
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: #888;
}

.tile {
  aspect-ratio: 1;
  border: 1px solid black;
}
