:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

:host > * {
  margin-bottom: 25px;
}

app-paint-pattern-display {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 0;
}

app-game-board {
  display: flex;
  flex: 2;
  width: 100%;
  min-height: 0;
}

app-move-counter {
  width: 50%;
}
