:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:host > * {
    margin-bottom: 25px;
}
  
:host > *:last-child {
    margin-bottom: 0; 
}