:host {
  overflow: auto;
}

.account-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.account-container > * {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .account-container {
    padding: 1rem;
  }
}
